<library path="lib/librqt_robot_control">
  <class name="rqt_robot_control/RobotsControl" type="rqt_robot_control::RobotsControl" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to control and monitor robots, using ALICA, the Process Manager, and some robot specific things.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>Robot Control</label>
      <icon type="file">resources/Robot-Head.png</icon>
      <statustip>A GUI plugin for controlling and monitoring robots.</statustip>
    </qtgui>
  </class>
</library>
