version: "3"

services:
  db:
    image: postgres:13.1
    environment:
      - POSTGRES_DB=alicadb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    volumes:
      - awpd:/var/lib/postgresql/data

  redis:
    image: redis
    command: redis-server

  alica-backend:
    image: rrdockerhub/alica_backend:v0.1
    environment:
      - POSTGRES_DB=alicadb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - REDIS_HOST=redis
      - SITE_NAME=localhost
      - SITE_DOMAIN=localhost:${BACKEND_PORT:-9000}
      - SOCIAL_APP_CLIENT_ID=${SOCIAL_APP_CLIENT_ID}
      - SOCIAL_APP_SECRET=${SOCIAL_APP_SECRET}
      - OAUTH_APPLICATION_URL=http://localhost:3030
      - NATIVE_MODE=${NATIVE_MODE:-false}

    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - ${BACKEND_PORT:-9000}:8000
    volumes:
      - ${NATIVE_IMPORT_EXPORT_PATH:-~/alica_program}:/alica_program  # mount path for native_mode plan import/export
    depends_on:
      - db
      - redis

  alica-debug-tree:
    image: rrdockerhub/alica_backend:interface_v0.1  # TODO: move to separate repo
    command: roslaunch alica_interface alica_interface.launch demo:=false
    network_mode: host
    expose:
      - 7890

  alica-frontend:
    image: rrdockerhub/alica_frontend:v0.2
    ports:
      - 3030:80
    environment:
      - NODE_ENV=development
    depends_on:
      - alica-backend

volumes:
  awpd:
