<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pmluiextensionmodel -->
      <package
            uri="http:///de.uni_kassel.vs.cn/planDesigner/pmlextension/uiextensionmodel"
            class="de.uni_kassel.vs.cn.planDesigner.pmlextension.uiextensionmodel.PmlUIExtensionModelPackage"
            genModel="model/pmluiextensionmodel.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated pmluiextensionmodel -->
      <parser
            type="pmlex"
            class="de.uni_kassel.vs.cn.planDesigner.pmlextension.uiextensionmodel.util.PmlUIExtensionModelResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated pmluiextensionmodel -->
      <factory
            uri="http:///de.uni_kassel.vs.cn/planDesigner/pmlextension/uiextensionmodel"
            class="de.uni_kassel.vs.cn.planDesigner.pmlextension.uiextensionmodel.provider.PmlUIExtensionModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
</plugin>
