<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uni_kassel.vs.cn.plandesigner.condition" name="ConditionExtensionPoint" schema="schema/de.uni_kassel.vs.cn.plandesigner.condition.exsd"/>
	<extension
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="de.uni_kassel.vs.cn.planDesigner.ui.pmlEditor">
       <propertySection
              class="de.uni_kassel.vs.cn.plandesigner.condition.core.ui.ConditionPropertySection"
              id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.sections.preConditions"
              tab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Conditions">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.Transition">
            </input>
            <input
            	type="de.uni_kassel.vs.cn.planDesigner.alica.Condition">
            </input>
         </propertySection>
        </propertySections>
       </extension>
     <extension
	      point = "org.eclipse.ui.preferencePages">
	      <page
	         id="de.uni_kassel.vs.cn.plandesigner.condition.core.preferences"
	         class="de.uni_kassel.vs.cn.plandesigner.condition.core.preferences.ConditionPluginPreferencePage"
	         name="Condition Plugins"
	         category="de.uni_kassel.vs.cn.planDesigner.ui.preferences.planDesignerPreferencePage">
	      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.uni_kassel.vs.cn.plandesigner.condition.core.preferences.ConditionPluginPreferenceInitializer">
      </initializer>
   </extension>   
    <extension
         point="org.eclipse.ui.menus">
       <menuContribution
            allPopups="true"
            locationURI="toolbar:de.uni-kassel.vs.cn.planDesigner.ui.planDesignerToolbar">         
            <command
                  commandId="de.uni-kassel.vs.cn.planDesigner.condition.core.refreshPluginsHandler"
                  icon="./icons/update16x16.png"
                  tooltip="Refresh Plugins"
                  label="Refresh Plugins"
                  mode="FORCE_TEXT"
                  style="push">
            </command>            
        </menuContribution>
     </extension>
     <extension
    	point="org.eclipse.ui.handlers">
        <handler
            class="de.uni_kassel.vs.cn.plandesigner.condition.core.RefreshPluginsHandler"
            commandId="de.uni-kassel.vs.cn.planDesigner.condition.core.refreshPluginsHandler">
      </handler>
   </extension>
  <!--   <extension              
           point="org.eclipse.ui.menus">         
            <menuContribution
               	allPopups="true"
                id="test.menu"
           		locationURI="menu:org.eclipse.ui.main.menu">
           </menuContribution>
     </extension>-->
</plugin>
