# log files
log/temp/

# binaries and libraries
supplementary/alica_designer_runtime/codegen/
bin/
lib/
build/
devel/
.libs/
.deps/
*.exe
*.dll
*.mdb
*.o

# visual studio code
.vscode/

# system backup files from several editors
*.swp
*.*~
_*.py
_*.pyc

# clion
**/.idea
**/cmake-build-debug
