<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="plandesigner" sequenceNumber="75">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.3.2.M20140221-1700"/>
<unit id="org.eclipse.rcp.feature.group" version="4.3.2.v20140221-1700"/>
<unit id="org.eclipse.pde.feature.group" version="3.9.1.v20140221-1700"/>
<unit id="org.eclipse.platform.ide" version="4.3.2.M20140221-1700"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.3.2.v20140221-1700"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20140221-1852"/>
<unit id="org.eclipse.sdk.ide" version="4.3.2.M20140221-1700"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="8.3.0.201402142303"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.3.0.201402142303"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/kepler"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xpand.support.feature.group" version="2.0.0.v201406030414"/>
<repository location="http://download.eclipse.org/modeling/m2t/xpand/updates/releases/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.gwt.common.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.converter.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.ecore.xcore.ui.feature.group" version="1.2.0.v20140521-0402"/>
<unit id="org.eclipse.xsd.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.rap.edit.ui.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.2.0.v20140521-0402"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.xsd.mapping.editor.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.rap.common.ui.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.all.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.oda.ecore.ui.feature.group" version="1.2.0.v20140519-0339"/>
<unit id="org.eclipse.emf.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.2.0.v20140521-0402"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.gwt.ecore.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.codegen.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.10.0.v20140514-1158"/>
<unit id="org.eclipse.emf.gwt.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.xsd.mapping.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.gwt.sdk.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.databinding.feature.group" version="1.4.0.v20140519-0339"/>
<unit id="org.eclipse.xsd.editor.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.mapping.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.oda.feature.group" version="1.3.0.v20140519-0339"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.4.0.v20140519-0339"/>
<unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.gwt.edit.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.gwt.ecore.edit.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.gwt.edit.ui.feature.group" version="2.7.0.v20140519-0339"/>
<unit id="org.eclipse.emf.examples.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.doc.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.oda.ecore.feature.group" version="1.3.0.v20140519-0339"/>
<unit id="org.eclipse.xsd.doc.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.xsd.ecore.converter.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.xsd.edit.feature.group" version="2.8.0.v20140519-0339"/>
<unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.3.0.v20140519-0339"/>
<unit id="org.eclipse.emf.rap.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.10.0.v20140514-1158"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.gmf.examples.runtime.feature.group" version="1.7.0.201306111432"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="3.1.0.201402192033"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.3.v201309030823"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.7.0.201306111432"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.1.201308190730"/>
<unit id="org.eclipse.gmf.feature.group" version="1.7.0.201306111432"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.7.0.201306111400"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.1.v201309030422"/>
<unit id="org.eclipse.cdt.autotools.feature.group" version="8.3.0.201402142303"/>
<unit id="org.eclipse.gef.examples.feature.group" version="3.9.1.201308190730"/>
<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.1.0.201402192033"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="3.1.0.201402192033"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.4.1.v201309030422"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.4.3.v201309030823"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.7.0.201306111341"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.7.0.201306101425"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.5.1.201308190730"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="1.4.0.v201306110406"/>
<repository location="http://download.eclipse.org/releases/kepler/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-7-openjdk-amd64"/>
</target>
