<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uni_kassel.vs.cn.planDesigner.ui.editors.PlanEditor"
            contributorClass="de.uni_kassel.vs.cn.planDesigner.ui.editors.PlanEditorActionBarContributor"
            extensions="pml"
            icon="icons/plan16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.pmlEditor"
            name="Plan Designer">
      </editor>
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="beh"
            icon="icons/behaviour16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.behEditor"
            name="Behaviour">
      </editor>
      <editor
            class="de.uni_kassel.vs.cn.planDesigner.ui.editors.RolesetEditor"
            contributorClass="de.uni_kassel.vs.cn.planDesigner.ui.editors.RolesetEditorActionBarContributor"
            default="true"
            extensions="rset"
            icon="icons/role16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.roleSetEditor"
            name="Roleset Editor">
      </editor>
      <editor
            default="true"
            extensions="pty"
            icon="icons/planTyp16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.planTypeEditor"
            launcher="de.uni_kassel.vs.cn.planDesigner.ui.editors.PlanTypLauncher"
            name="Plantype">
      </editor>
      <editor
            default="false"
            extensions="pla"
            icon="icons/csharp16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.planner"
            launcher="de.uni_kassel.vs.cn.planDesigner.ui.editors.PlannerLauncher"
            name="Planner">
      </editor>
      <editor
            default="false"
            extensions="pp"
            icon="icons/planningProblem16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.planningProblem"
            launcher="de.uni_kassel.vs.cn.planDesigner.ui.editors.PlanningProblemLauncher"
            name="PlanningProblem">
      </editor>
      <editor
            default="false"
            extensions="dm"
            icon="icons/overview16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.domainDescription"
            launcher="de.uni_kassel.vs.cn.planDesigner.ui.editors.DomainDescriptionLauncher"
            name="DomainDescription">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.uni_kassel.vs.cn.planDesigner.ui"
            name="Planmodeller">
      </category>
      <wizard
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PMLNewPlanWizard"
            finalPerspective="de.uni_kassel.vs.cn.planDesigner.ui.pmleditorPerspective"
            icon="icons/plan16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewPlanWizard"
            name="Plan">
      </wizard>
      <wizard
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PMLNewBehaviourWizard"
            finalPerspective="de.uni_kassel.vs.cn.planDesigner.ui.pmleditorPerspective"
            icon="icons/behaviour16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewBehaviourWizard"
            name="Behaviour">
      </wizard>
      <wizard
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PMLNewPlantypeWizard"
            finalPerspective="de.uni_kassel.vs.cn.planDesigner.ui.pmleditorPerspective"
            icon="icons/planTyp16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewPlantypeWizard"
            name="Plantype">
      </wizard>
      <wizard
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PMLNewRolesetWizard"
            finalPerspective="de.uni_kassel.vs.cn.planDesigner.ui.pmleditorPerspective"
            icon="icons/role16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewRolesetWizard"
            name="Roleset">
      </wizard>
      <wizard
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="de.uni_kassel.vs.cn.planDesigner.ui.wizards.StartupConfigurationWizard"
            id="de.uni_kassel.vs.cn.planDesigner.ui.wizards.StartupConfigurationWizard"
            name="StartupConfig">
      </wizard>
      <wizard
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PMLNewPlannerWizard"
            finalPerspective="de.uni_kassel.vs.cn.planDesigner.ui.pmleditorPerspective"
            icon="icons/csharp16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewPlannerWizard"
            name="Planner">
      </wizard>
      <wizard
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PMLNewDomainDescriptionWizard"
            finalPerspective="de.uni_kassel.vs.cn.planDesigner.ui.pmleditorPerspective"
            icon="icons/explorerIcon16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewDomainDescriptionWizard"
            name="DomainDescription">
      </wizard>
      <wizard
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PMLNewPlanningProblemWizard"
            finalPerspective="de.uni_kassel.vs.cn.planDesigner.ui.pmleditorPerspective"
            icon="icons/planningProblem16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewPlanningProblemWizard"
            name="PlanningProblem">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.uni_kassel.vs.cn.planDesigner.ui"
            name="Plan Designer">
      </category>
      <view
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="de.uni_kassel.vs.cn.planDesigner.ui.views.RepositoryView"
            icon="icons/cn200816x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.views.RepositoryView"
            name="Repository"/>
      <view
            allowMultiple="false"
            category="de.uni_kassel.vs.cn.planDesigner.ui"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/explorerIcon16x16.png"
            id="de.uni_kassel.vs.cn.planDesigner.ui.views.pdexplorer"
            name="Plan Designer Explorer"/>
      
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/cn200816x16.png"
            class="de.uni_kassel.vs.cn.planDesigner.ui.perspective.PlanDesignerPerspective"
            id="de.uni_kassel.vs.cn.planDesigner.ui.pmleditorPerspective"
            name="Plan Designer">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.uni_kassel.vs.cn.planDesigner.ui.pmlEditor"
            labelProvider="de.uni_kassel.vs.cn.planDesigner.ui.properties.TabbedProperyTitleBarLabelProvider">
         <propertyCategory
               category="basic"></propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.uni_kassel.vs.cn.planDesigner.ui.pmlEditor">
         <propertyTab
               category="basic"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.basic"
               label="Basic">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Utilies"
               label="Utilities">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Conditions"
               label="Condition">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Result"
               label="Result">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Task"
               label="Task">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Rating"
               label="Rating">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Parameters"
               label="Parameters">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Variables"
               label="Variables">
         </propertyTab>
          <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.ConditionVariables"
               label="Variables">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.ConditionQuantifiers"
               label="Quantifiers">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Comment"
               label="Comment">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.parametrisation"
               label="Parametrisation">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.PTPropertyTab"
               label="Parametrisation">
         </propertyTab>
         <propertyTab
               afterTab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Rating"
               category="advanced"
               id="de.uni_kassel.vs.cn.planDesigner.ui.saveTab"
               label="Save">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.uni_kassel.vs.cn.planDesigner.ui.pmlEditor">
         <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.PMLAdvancedUndoablePropertySection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.sections.basic"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.basic">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.PlanElement">
            </input>
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.InternalRoleTaskMapping">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.ParametersSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.sections.basic"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Parameters">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.BehaviourConfiguration">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.VariablesSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.sections.basic"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Variables">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.AbstractPlan">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.ConditionVariablesSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.sections.basic"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.ConditionVariables">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.Condition">
            </input>
            <input 
            	type="de.uni_kassel.vs.cn.planDesigner.alica.Transition">
            </input>
         </propertySection>
          <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.ConditionQuantifierSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.sections.basic"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.ConditionQuantifiers">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.Condition">
            </input>
             <input 
            	type="de.uni_kassel.vs.cn.planDesigner.alica.Transition">
            </input>
         </propertySection>
         <!-- Philipp -->
        <!-- <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.PreConditionSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.sections.preConditions"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Conditions">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.Transition">
            </input>
         </propertySection> -->
         <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.RatingSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.sections.rating"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Rating">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.AbstractPlan">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.CommentSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.tabs.sections.comment"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.tabs.Comment">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.PlanElement">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.ParametrisationSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.parametrisationSection"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.parametrisation">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.State">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.PTParametrisationSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.pPTParametrisationSection"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.PTPropertyTab">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.PlanType">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_kassel.vs.cn.planDesigner.ui.properties.PTSaveSection"
               id="de.uni_kassel.vs.cn.planDesigner.ui.saveSection"
               tab="de.uni_kassel.vs.cn.planDesigner.ui.saveTab">
            <input
                  type="de.uni_kassel.vs.cn.planDesigner.alica.PlanType">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.uni_kassel.vs.cn.planDesigner.ui.views.RepositoryView"
            labelProvider="de.uni_kassel.vs.cn.planDesigner.ui.properties.TabbedProperyTitleBarLabelProvider">
         <propertyCategory
               category="basic">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension> 
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.emf.ecore.EObject"
            class="de.uni_kassel.vs.cn.planDesigner.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.gef.EditPart"
            class="de.uni_kassel.vs.cn.planDesigner.ui.adapter.EditPartAdapterFactory">
         <adapter
               type="de.uni_kassel.vs.cn.planDesigner.ui.adapter.SelectionAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            factory="de.uni_kassel.vs.cn.planDesigner.ui.edit.PMLTransactionalEditingDomainFactory"
            id="de.uni_kassel.vs.cn.planDesigner.uitransaction.editingDomain">
      </editingDomain>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="de.uni_kassel.vs.cn.planDesigner.ui.util.ResourceSetChangeListener">
         <editingDomain
               id="de.uni_kassel.vs.cn.planDesigner.uitransaction.editingDomain">
         </editingDomain>
      </listener>
   </extension>
   <extension
         id="planDesigner"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.uni_kassel.vs.cn.planDesigner.ui.PlanDesignerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="planDesignerProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.uni-kassel.vs.cn.planDesigner.ui.planDesigner"
            name="Carpe Noctem Plan Designer">
         <property
               name="windowImages"
               value="icons/cn200816x16.png,icons/cn200832x32.png,icons/cn200848x48.png,icons/cn200864x64.png,icons/cn2008128x128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,250,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Carpe Noctem Plan Designer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
         <viewerActionBinding
            viewerId="de.uni_kassel.vs.cn.planDesigner.ui.views.pdexplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
            <actionExtension
                  pattern="de.uni_kassel.vs.cn.planDesigner.ui.*">
            </actionExtension>
         </includes>
         <excludes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.actions.RefactorActions">
            </actionExtension>
            <actionExtension
                  pattern="de.uni_kassel.vs.cn.planDesigner.ui.actionExtension1">
            </actionExtension>
         </excludes>
       </viewerActionBinding>
         
      <viewerContentBinding
            viewerId="de.uni_kassel.vs.cn.planDesigner.ui.views.pdexplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="de.uni_kassel.vs.cn.planDesigner.ui.*">
            </contentExtension>
            <contentExtension
                  pattern="de.uni_kassel.vs.cn.planDesigner.ui.contentExtension1">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">   
         <commonFilter
               activeByDefault="true"
               id="de.uni_kassel.vs.cn.planDesigner.ui.pmlexFilter"
               name="*.pmlex Files (UIExtensions)">
            <filterExpression>
               <test
                     property="org.eclipse.core.resources.name"
                     value="*.pmlex">
               </test>
            </filterExpression>
         </commonFilter>
         <commonFilter
               activeByDefault="true"
               id="de.uni_kassel.vs.cn.planDesigner.ui.rdefsetFilter"
               name="*.rdefset Files (Role Definition Files)">
            <filterExpression>
               <test
                     property="org.eclipse.core.resources.name"
                     value="*.rdefset">
               </test>
            </filterExpression>
         </commonFilter>
         <commonFilter
               activeByDefault="true"
               id="de.uni_kassel.vs.cn.planDesigner.ui.graphFilter"
               name="*.graph Files (TaskGraph)">
            <filterExpression>
               <test
                     property="org.eclipse.core.resources.name"
                     value="*.graph">
               </test>
            </filterExpression>
         </commonFilter>
    <actionProvider
               class="de.uni_kassel.vs.cn.planDesigner.ui.actions.MyActionProvider"
               id="de.uni_kassel.vs.cn.planDesigner.ui.actions.editActionProvider"
               overrides="org.eclipse.ui.navigator.resources.actions.EditActions">
            <enablement>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
            </enablement>
         </actionProvider> 
         <commonWizard
               type="new"
               wizardId="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewPlantypeWizard">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
               </adapt>
            </enablement>
         </commonWizard>
         <commonWizard
               type="new"
               wizardId="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewBehaviourWizard">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
               </adapt>
            </enablement>
         </commonWizard>
         <commonWizard
               type="new"
               wizardId="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewRolesetWizard">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
               </adapt>
            </enablement>
         </commonWizard>
         <commonWizard
               type="new"
               wizardId="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewPlanWizard">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
               </adapt>
            </enablement>
         </commonWizard>
         <commonWizard
               type="new"
               wizardId="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewPlannerWizard">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
               </adapt></enablement>
         </commonWizard>
         <commonWizard
               type="new"
               wizardId="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewDomainDescriptionWizard">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
               </adapt></enablement>
         </commonWizard>
         <commonWizard
               type="new"
               wizardId="de.uni_kassel.vs.cn.planDesigner.ui.wizards.PlanmodellerNewPlanningProblemWizard">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IContainer">
               </adapt></enablement>
         </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="de.uni_kassel.vs.cn.planDesigner.ui.ltk.DeleteUIExtensionParticipant"
            id="de.uni_kassel.vs.cn.planDesigner.ui.deleteUIExtensionParticipant"
            name="Delete UIExtension Resource">
         <enablement></enablement>
      </deleteParticipant>
      <deleteParticipant
            class="de.uni_kassel.vs.cn.planDesigner.ui.ltk.DeletePlanReferenceParticipant"
            id="de.uni_kassel.vs.cn.planDesigner.ui.deletePlanParticipant"
            name="Delete Plan">
         <enablement></enablement>
      </deleteParticipant>
      <deleteParticipant
            class="de.uni_kassel.vs.cn.planDesigner.ui.ltk.DeleteSavedGraphParticipant"
            id="de.uni_kassel.vs.cn.planDesigner.ui.deleteSavedTaskGraphParticipant"
            name="Delete saved Taskgraph">
         <enablement></enablement>
      </deleteParticipant>
      <deleteParticipant
            class="de.uni_kassel.vs.cn.planDesigner.ui.ltk.UnloadResourceParticipant"
            id="de.uni_kassel.vs.cn.planDesigner.ui.unloadResourceParticipant"
            name="Unload resource">
         <enablement></enablement>
      </deleteParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="de.uni_kassel.vs.cn.planDesigner.ui.ltk.MoveFileParticipant"
            id="de.uni_kassel.vs.cn.planDesigner.ui.MoveFileParticipant"
            name="Move File">
         <enablement></enablement>
      </moveParticipant>
      <moveParticipant
            class="de.uni_kassel.vs.cn.planDesigner.ui.ltk.MoveUIExtFileParticipant"
            id="de.uni_kassel.vs.cn.planDesigner.ui.MoveUIExtFileParticipant"
            name="Move UI Ext File">
         <enablement></enablement>
      </moveParticipant>     
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.uni_kassel.vs.cn.planDesigner.ui.preferences.PlanDesignerPreferencePage"
            id="de.uni_kassel.vs.cn.planDesigner.ui.preferences.planDesignerPreferencePage"
            name="Plan Designer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.uni_kassel.vs.cn.planDesigner.ui.preferences.PlanDesignerPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.uni_kassel.vs.cn.planDesigner.ui.roleSetEditor"
            labelProvider="de.uni_kassel.vs.cn.planDesigner.ui.properties.TabbedProperyTitleBarLabelProvider">
         <propertyCategory
               category="basic">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.uni_kassel.vs.cn.planDesigner.ui.views.RepositoryView.repositoryContextMenu">
         <command
               commandId="de.uni_kassel.vs.cn.planDesigner.ui.showUsageCommand"
               icon="icons/overview16x16.png"
               label="Show usage"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.uni_kassel.vs.cn.planDesigner.ui.pmlEditor.planEditorContextMenu">
         <command
               commandId="de.uni_kassel.vs.cn.planDesigner.ui.hideElementCommand"
               label="Hide Element"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.uni_kassel.vs.cn.planDesigner.ui.pmlEditor?before=additions">
         <command
               commandId="de.uni_kassel.vs.cn.planDesigner.ui.hideElementCommand"
               label="Hide element"
               style="push">
         </command>
         <separator
               name="de.uni_kassel.vs.cn.planDesigner.ui.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.uni-kassel.vs.cn.planDesigner.ui.planDesignerToolbar"
               label="Plan Designer Toolbar">
            <command
                  commandId="de.uni_kassel.vs.cn.planDesigner.ui.defineRolesCommand"
                  label="Def. Roles"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="de.uni_kassel.vs.cn.planDesigner.ui.createProjectsCommand"
                  icon="icons/defCap.png"
                  label="Create Projects"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="de.uni_kassel.vs.cn.planDesigner.ui.capabilityDefinitionCommand"
                  icon="icons/failureTransition24x24.png"
                  label="Def. Capability"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution> 
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Show Usage"
            id="de.uni_kassel.vs.cn.planDesigner.ui.showUsageCommand"
            name="Show usage">
      </command>
      <command
            defaultHandler="de.uni_kassel.vs.cn.planDesigner.ui.handler.HideElementCommandHandler"
            description="Hides this element"
            id="de.uni_kassel.vs.cn.planDesigner.ui.hideElementCommand"
            name="Hide element">
      </command>
      <command
            description="Create Projects"
            id="de.uni_kassel.vs.cn.planDesigner.ui.createProjectsCommand"
            name="Create Projects">
      </command>
      <command
            description="Define Roles"
            id="de.uni_kassel.vs.cn.planDesigner.ui.defineRolesCommand"
            name="Define Roles">
      </command>
      <command
            description="Define Capability"
            id="de.uni_kassel.vs.cn.planDesigner.ui.capabilityDefinitionCommand"
            name="Define Capability">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uni_kassel.vs.cn.planDesigner.ui.handler.ShowUsageHandler"
            commandId="de.uni_kassel.vs.cn.planDesigner.ui.showUsageCommand">
         <activeWhen>
          <and>
           	<iterate>
              	<instanceof
                    value="de.uni_kassel.vs.cn.planDesigner.alica.PlanElement">
              	</instanceof>
           		</iterate>
            	<count
                	value="*">
           		</count>
       		</and>
         </activeWhen>
      </handler>
      <handler
            class="de.uni_kassel.vs.cn.planDesigner.ui.handler.HideElementCommandHandler"
            commandId="de.uni_kassel.vs.cn.planDesigner.ui.hideElementCommand">
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="de.uni_kassel.vs.cn.planDesigner.ui.parts.StateEditPart">
                  </instanceof>
               </iterate>
            </and>
         </enabledWhen>
         <activeWhen>
            <iterate
                  ifEmpty="true">
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="de.uni_kassel.vs.cn.planDesigner.ui.handler.DefineRolesHandler"
            commandId="de.uni_kassel.vs.cn.planDesigner.ui.defineRolesCommand">
      </handler>
      <handler
            class="de.uni_kassel.vs.cn.planDesigner.ui.handler.CreateProjectHandler"
            commandId="de.uni_kassel.vs.cn.planDesigner.ui.createProjectsCommand">
      </handler>
      <handler
            class="de.uni_kassel.vs.cn.planDesigner.ui.handler.CapabilityDefinitionHandler"
            commandId="de.uni_kassel.vs.cn.planDesigner.ui.capabilityDefinitionCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.uni_kassel.vs.cn.planDesigner.ui.MasterDetailsBlock"
            objectClass="org.eclipse.core.resources.IFile">
      </objectContribution>
   </extension>
</plugin>
