<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--<extension
         point="org.eclipse.ui.menus">
         <menuContribution
         	locationURI="popup:org.eclipse.ui.examples.propertysheet.outline?after=additions">
         	<menu
               id="org.eclipse.emf.validationMenuID"
               label="Validation">
	         	<command
	         		commandId="de.uni_kassel.vs.cn.planDesigner.ui.enableLiveValidationAction"
	         		label="Enable Live Validation"
	         		style="push"
	         		tooltip="Enables Live Validation">
	         	</command>
         	</menu>
         </menuContribution>
   </extension>         -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="de.uni_kassel.vs.cn.planDesigner.ui.PlanEditorID"
            id="de.uni_kassel.vs.cn.planDesigner.viewerContribution">
         <menu
               label="Validation"
               path="additions"
               id="org.eclipse.emf.validationMenuID">
            <separator name="additions"/>
         </menu>
         <action
               label="Enable Live Validation"
               class="de.uni_kassel.vs.cn.planDesigner.validation.actions.EnableLiveValidationDelegate"
               menubarPath="org.eclipse.emf.validationMenuID/additions"
               id="de.uni_kassel.vs.cn.planDesigner.ui.enableLiveValidationAction"/>
      </viewerContribution>#
    </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="de.uni_kassel.vs.cn.planDesigner.ui.alica"
            mandatory="true"
            name="ConstraintsCategory"/>
      <constraintProvider
            cache="true"
            mode="Live">
         <package namespaceUri="http:///de.uni_kassel.vs.cn"/>
         <constraints categories="de.uni_kassel.vs.cn.planDesigner.ui.alica">
            <constraint
                  class="de.uni_kassel.vs.cn.planDesigner.validation.constraints.ConditionVariableExistsConstraint"
                  id="de.uni_kassel.vs.cn.planDesigner.ui.ConditionVarsOk"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="ConditionVarsOk"
                  severity="ERROR"
                  statusCode="1">
               <description>
                  Some Description
               </description>
               <message>
                  Some Message
               </message>
               <target class="AbstractPlan">
                  <event name="Set">
                     <feature name="vars"/>
                  </event>
                  <event name="Unset">
                     <feature name="vars"/>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="vars">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="vars">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="de.uni_kassel.vs.cn.planDesigner.validation.constraints.ReferencedSubPlanExists"
                  id="de.uni_kassel.vs.cn.planDesigner.ui.SubPlanExists"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="SubPlanExists"
                  severity="ERROR"
                  statusCode="2">
               <message>
                  message body text
               </message>
               <target
                     class="State">
                  <event
                        name="Set">
                     <feature
                           name="plans">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="plans">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="plans">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="plans">
                     </feature>
                  </event>
               </target>
               <target
                     class="PlanType">
                  <event
                        name="Set">
                     <feature
                           name="plans">
                     </feature>
                  </event>
                  <event
                        name="Unset">
                     <feature
                           name="plans">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="plans">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="plans">
                     </feature>
                  </event>
               </target>
            </constraint>
            
            
            <constraint
                  class="de.uni_kassel.vs.cn.planDesigner.validation.constraints.ParametrisationBindsExistingVariable"
                  id="de.uni_kassel.cvs.n.planDesigner.ui.ParametrisationBindsExistingVariable"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="ParametrisationBindsExistingVariable"
                  severity="ERROR"
                  statusCode="3">
               <message>
                  message body text
               </message>
               <target class="AbstractPlan">
                  <event name="Set">
                     <feature name="vars"/>
                  </event>
                  <event name="Unset">
                     <feature name="vars"/>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="vars">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="vars">
                     </feature>
                  </event>
               </target>
            </constraint>
            
            <constraint
                  class="de.uni_kassel.vs.cn.planDesigner.validation.constraints.VariableReferencedInParent"
                  id="de.uni_kassel.vs.cn.planDesigner.ui.VariableReferencedInParent"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="VariableReferencedInParent"
                  severity="ERROR"
                  statusCode="4">
               <message>
                  message body text
               </message>
               <target class="AbstractPlan">
                  <event name="Set">
                     <feature name="vars"/>
                  </event>
                  <event name="Unset">
                     <feature name="vars"/>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="vars">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="vars">
                     </feature>
                  </event>
               </target>
            </constraint>
            
            <constraint
                  class="de.uni_kassel.vs.cn.planDesigner.validation.constraints.EntryPointNameConstraint"
                  id="de.uni_kassel.vs.cn.planDesigner.ui.EntryPointNameOk"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="EntryPointNameOk"
                  severity="ERROR"
                  statusCode="1">
               <description>
                  Some Description
               </description>
               <message>
                  Some Message
               </message>
               <target class="EntryPoint">
                  <event name="Set">
                     <feature name="task"/>
                  </event>
                  <event name="Unset">
                     <feature name="task"/>
                  </event>                 
               </target>
            </constraint>
            
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="true"
            id="de.uni_kassel.vs.cn.planDesigner.ui.alica">
         <selector class="de.uni_kassel.vs.cn.planDesigner.validation.constraints.ValidationDelegateClientSelector"/>
      </clientContext>
      <binding
            context="de.uni_kassel.vs.cn.planDesigner.ui.alica"
            category="de.uni_kassel.vs.cn.planDesigner.ui.alica"/>
   </extension>
   <extension
         point="org.eclipse.emf.validation.validationListeners">
      <listener class="de.uni_kassel.vs.cn.planDesigner.validation.listeners.ValidationListener">
         <clientContext id="de.uni_kassel.vs.cn.planDesigner.ui.alica"/>
      </listener>
   </extension>
   <extension
         point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <clientContext id="de.uni_kassel.vs.cn.planDesigner.ui.alica"/>
   </extension> 
</plugin>
