<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="master_plan" default="CircleLeader_MainPlan" />
    <arg name="roleset_dir" default="." />
    <arg name="roleset"     default="Roleset" />
    
    <node name="alica_viewer" pkg="alica_viewer" type="alica_viewer" args="-m $(arg master_plan) -rd $(arg roleset_dir) -r $(arg roleset)" output="screen"/>
</launch>