<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
<!--
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///de.uni_kassel.vs.cn" 
       class = "de.uni_kassel.vs.cn.planDesigner.alica.alica.AlicaPackage"
       genModel = "model/alicaDSL.genmodel" /> 
  </extension>
-->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated alicaDL -->
      <package
            uri="http:///de.uni_kassel.vs.cn"
            class="de.uni_kassel.vs.cn.planDesigner.alica.AlicaPackage"
            genModel="model/alicaDL.genmodel"/>
   </extension>

</plugin>
