<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uni_kassel.vs.cn.plandesigner.condition">
      <client
            class="de.uni_kassel.vs.cn.plandesigner.condition.pl.PLPlugin">
      </client>
   </extension>
     <extension
	      point = "org.eclipse.ui.preferencePages">
	      <page
	         id="de.uni_kassel.vs.cn.plandesigner.condition.plp.preferences"
	         class="de.uni_kassel.vs.cn.plandesigner.condition.pl.preferences.PLPPreferencePage"
	         name="Propositional Logic Plugin"
	         category="de.uni_kassel.vs.cn.plandesigner.condition.core.preferences">
	      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uni_kassel.vs.cn.plandesigner.condition.pl.ui.FormularEditorHandler"
            id="de.uni_kassel.vs.cn.plandesigner.condition.pl.ui.FormularEditor"
            name="FormularEditor">
      </command>
   </extension>
  <!--  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="plpMenu"
               label="PLP">
          <command
                  commandId="de.uni_kassel.vs.cn.plandesigner.condition.pl.ui.FormularEditor"
                  label="Formular Editor"
                  style="push"
                  tooltip="Open the Formular Editor">
            </command>
         </menu>
         <dynamic
               class="de.uni_kassel.vs.cn.plandesigner.condition.pl.ui.TestDynamicMenu"
               id="de.uni-kassel.vs.cn.planDesigner.condition.propositionalLogic.dynamic1">
         </dynamic>
      </menuContribution>
   </extension>-->
   
	<!--<extension
    	point="org.eclipse.ui.handlers">
        <handler
            class="de.uni_kassel.vs.cn.plandesigner.condition.pl.ui.FormularEditorHandler"
            commandId="de.uni-kassel.vs.cn.planDesigner.condition.pl.formularEditorHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:de.uni-kassel.vs.cn.planDesigner.ui.planDesignerToolbar">              
          <command
                  commandId="de.uni-kassel.vs.cn.planDesigner.condition.pl.formularEditorHandler"
                  icon="./icons/formulaAdd16x16.png"
                  label="Edit Formular"
                  tooltip="Edit Formular"
                  mode="FORCE_TEXT"
                  style="push">
            </command>           
        </menuContribution>
     </extension> -->
     <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.uni_kassel.vs.cn.plandesigner.condition.pl.preferences.PLPluginPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
