<library path="lib/libpm_control">
  <class name="pm_control/PMControl" type="pm_control::PMControl" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to control process managers remotely.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>Process Manager GUI</label>
      <icon type="file">resources/System-Monitor.png</icon>
      <statustip>A GUI plugin for sending process_manager commands.</statustip>
    </qtgui>
  </class>
</library>
