---
---

@import "{{ site.theme }}";

a:hover, a:focus {
	color: #069;
	font-weight: normal;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

section {
	width: 800px;
	float: right;
	padding-bottom: 50px;
}
