<library path="lib/librqt_alica_client">
  <class name="rqt_alica_client/AlicaClient" type="rqt_alica_client::AlicaClient" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to view alica Information.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>Alica Client</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin for viewing alica information</statustip>
    </qtgui>
  </class>
</library>
