<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated alicaDL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_kassel.vs.cn.planDesigner.alica.presentation.AlicaModelWizardID"
            name="%_UI_AlicaModelWizard_label"
            class="de.uni_kassel.vs.cn.planDesigner.alica.presentation.AlicaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AlicaModelFile.gif">
         <description>%_UI_AlicaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated alicaDL -->
      <editor
            id="de.uni_kassel.vs.cn.planDesigner.alica.presentation.AlicaEditorID"
            name="%_UI_AlicaEditor_label"
            icon="icons/full/obj16/AlicaModelFile.gif"
            extensions="alica"
            class="de.uni_kassel.vs.cn.planDesigner.alica.presentation.AlicaEditor"
            contributorClass="de.uni_kassel.vs.cn.planDesigner.alica.presentation.AlicaActionBarContributor">
      </editor>
   </extension>

</plugin>
